/documents/ltximg/
/documents/notes/ltximg/
/backups/
/custom.el
/elfeed/
/eln-cache/
/elpa/
/history
/recentf
/auto-save-list/
/images/
/transient/
/games/
backups.bak/
/image-dired/
/ltximg/
/bookmarks
/abbrev_defs
/url/
/projects
/multisession/
/nov-places
/tramp
/tutorial/
/reviews/
/documents/book/ltximg/
/config/
/documents/book/.dir-locals.el
.org-id-locations
org-roam.db

/autosaves/
/places
/projectile-bookmarks.eld
/projects.eld
/elgrep-data.el
/tree-sitter/
/local-lisp/
# using org-roam-dblocks in /nursery/ 
# via https://github.com/chrisbarrett/nursery/tree/main
/nursery/ 
forge-database.sqlite

# Temporary backup files
%backup%~
